.title {
  font-size: 3.2rem;
  margin-top: 3.6rem;
  margin-bottom: 2.4rem;
}

.container {
  width: 90%;
  margin: 0 auto;
}

@media (max-width: 800px) {
  .title {
    font-size: 2.4rem !important;
  }
  * {
    font-size: 100% !important;
  }

  .select {
    font-size: 2.4rem !important;
  }
}
